{{ ansible_managed }}

# Name: perfSONAR RPM Repositories
# URL: http://software.internet2.edu

[perfSONAR-release]
name = perfSONAR RPM Repository - software.internet2.edu - main
mirrorlist = http://software.internet2.edu/rpms/el$releasever/mirrors-Toolkit-Internet2
{% if perfsonar_release == 'release' %}
enabled = 1
{% else %}
enabled = 0
{% endif %}
protect = 0
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-perfSONAR
gpgcheck = 1

{% if perfsonar_release is match("^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$") %}
[perfSONAR-{{ perfsonar_release }}]
name = perfSONAR RPM Repository - software.internet2.edu - {{ perfsonar_release }}
baseurl = http://software.internet2.edu/rpms/el$releasever/$basearch/{{ perfsonar_release }}
          http://linux.mirrors.es.net/perfsonar/el$releasever/$basearch/{{ perfsonar_release }}
          http://mirror.chpc.utah.edu/pub/software.internet2.edu/rpms/el$releasever/$basearch/{{ perfsonar_release }}
          http://mirror.net.cen.ct.gov/rpms/el$releasever/$basearch/{{ perfsonar_release }}
          http://mirror.ancl.hawaii.edu/linux/software.internet2.edu/rpms/el$releasever/$basearch/{{ perfsonar_release }}
          http://mirror.aarnet.edu.au/pub/internet2/rpms/el$releasever/$basearch/{{ perfsonar_release }}
          http://mirror.in2p3.fr/pub/linux/internet2-software/rpms/el$releasever/$basearch/{{ perfsonar_release }}
enabled = 1
protect = 0
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-perfSONAR
gpgcheck = 1
{% endif %}